li.nav-item.tabStyle{
    border: 2px solid #efe7e7;
    border-radius: 5px;
    margin-left: .3em !important;
    margin-right: .3em !important;
}
.btn.btn-rose.confg,
.btn.btn-success.confg
{
    padding-right: 12px !important;
    padding-left: 12px !important;
}
