body {
  background-color: #222;
  padding: 20px;
  font-family: arial;
}

#chart5 {
  background-color: dodgerblue;
  border-radius: 10px;
  padding-top: 10px;
}

#chart6 {
  background-color: lightpink;
  border-radius: 10px;
  padding-top: 10px;
}
#title_1{
  color: dodgerblue;    
  margin-bottom:10px;
  font-size:20px;
}

#title_2{
  color: lightpink;    
  margin-bottom:10px;
  font-size:20px;
}