
// .card-header{
// 	padding: 1px;
// 	background-color: red;
// }

.card .card-header.card-header-icon i{
	text-align: center;
	width: unset !important;
	line-height: auto !important;
}

.card .card-header.card-header-icon.disconnected{
	background-color: red;
}

.card .card-header.card-header-icon.connected{
	background-color: green;
}

.zone-content{
	margin-top: -15px;
}
.fa-arrow-circle-o-up.icon-background{
	color: green;
}

.fa-arrow-circle-o-down.icon-background{
	color: #ec407a;
}
.fa-female.icon-background{
	color: #9c27b0;
}
.fa-male.icon-background{
	color: #00bcd4;
}
