.lock-page .card-profile .form-group {
    text-align: right;
}
.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
    font-family: "BYekan", "Helvetica", "Arial", sans-serif;
}
.btn {
    font-size: 1rem;
}
a {
    color: #f8610f;
}

