.card img.picture-src.larger{
        // min-width: 150px;
        // min-height: 150px;
        // max-width: 200px;
        // max-height: 200px;
        width: 150px;
        height: 150px;
        background: gray;
        border-radius: 50%;
}
.fa-arrow-circle-up.icon-background{
	color: green;
}

.fa-arrow-circle-down.icon-background{
	color: #ec407a;
}
.p-datetime-picker-input-group .p-datetime-picker-icon-btn{
        padding: 20px;
}
.persian-calendar{

}
// .form-group.label-floating label.control-label,
// .form-group.label-placeholder label.control-label{
//         top: -28px !important;
// }
// .form-group.label-static label.control-label,
// .form-group.label-floating.is-focused label.control-label,
// .form-group.label-floating:not(.is-empty) label.control-label{
//         top: -28px !important;
// }
// // .card-header{
// // 	padding: 1px;
// // 	background-color: red;
// // }

// .card .card-header.card-header-icon i{
// 	text-align: center;
// 	width: unset !important;
// 	line-height: auto !important;
// }

// .card .card-header.card-header-icon.disconnected{
// 	background-color: red;
// }

// .card .card-header.card-header-icon.connected{
// 	background-color: green;
// }

// .zone-content{
// 	margin-top: -15px;
// }
// .fa-arrow-circle-o-up.icon-background{
// 	color: green;
// }

// .fa-arrow-circle-o-down.icon-background{
// 	color: #ec407a;
// }
// .fa-female.icon-background{
// 	color: #9c27b0;
// }
// .fa-male.icon-background{
// 	color: #00bcd4;
// }
