<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings >		
		<add key="ConnectionString"  value="Data Source=.;Initial Catalog=Test;User ID=admin;Password=12345" />		
		<add key="Interval" value="0:0:15"/>
		<add key ="repeatConnectCount" value ="10"/>
	</appSettings>
	
</configuration>