<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
			
		</configSections>
	<appSettings >
		<add key="ConnectionString"  value="Data Source=10.0.0.74\sql2014l;database=SQLIKIU; User ID=IKIUTardod ;password=G25@Bb91;" />
		<add key="URL" value="http://stu.ikiu.ac.ir/upload/"/>
	</appSettings>

	G25@Bb95
</configuration>