<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<appSettings >
		<add key="ConnectionString"  value="Data Source=.;Initial Catalog=Test; User ID=admin; Password=12345;" />
		<!--<add key="OptionHandlerInterval"  value="15000" />-->
		<add key="URL" value="http://stu.ikiu.ac.ir/upload/"/>
		<add key="Interval" value="0:0:25"/>
	</appSettings>
	
</configuration>